{
    "extends": "eslint:recommended",
    "rules": {
        "no-console": [0],
        "require-jsdoc": [2, {
        "require": {
            "FunctionDeclaration": true,
            "MethodDefinition": false,
            "ClassDeclaration": false
        }
    }]
    },
    "env": {
        "node": true,
        "mocha": true
    },
    "ecmaFeatures": {
        "modules": true,
        "arrowFunctions": true,
        "destructuring": true,
        "blockBindings": true,
        "spread": true,
        "experimentalObjectRestSpread": true,
        "templateStrings": true
    }
}
